/* 全体的な背景的な */
body {
  background-color: url(loading.gif) center / cover no-repeat fixed;
  animation: removeBg 0s linear forwards;
  animation-delay: 3s;
  margin: 0;
  background-color: #0b0d0f;
  color: #ffffff;
  font-family: 'Oswald',  sans-serif;
  line-height: 1.8;
}

@keyframes removeBg {
  to {
   background: none;
  }
}


/* ヘッダー　背景に花火 */
.header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('fireworks.jpg') center/cover no-repeat;
  position: relative;
}



/* タイトルの文字ぐわんぐわんに */
.header h1 {
  font-size: 80px;
  font-family: 'Bungee', cursive;
  background: linear-gradient(270deg, #f7ff57, #6cbcfd, #a127de, #2cbb22);/* 日常組カラー(^▽^)/*/
  background-size: 500% 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientBG 8s ease infinite;
  display: inline-block;



  /* タイトルの外枠 */
  border: 2px solid rgba(255, 255, 255, 0.5); /* 枠の太さ2px　透明度50% */
  padding: 20px 40px;
  border-radius: 20px;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  /*　↑白枠が太すぎる！*/



  /* タイトル内側　ちょっとだけ色黒くしてタイトルとの差別化を図る */
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
}



/* 色のアニメーション　　案その７ */
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



/*  セクション共通*/
.section, .mimigame {
  max-width: 1000px;
  margin: 6rem auto;
  padding: 0 20px;
}




/* セクションタイトル */
.section h2, .mimigame h2 {
  font-size: 32px;
  letter-spacing: 0.2em;
  margin-bottom: 40px;
  border-left: 4px solid #5a0000;
  padding-left: 20px;
}




/*  やっぱ説明部分の文字を少し太く  */
.section p, .mimigame p {
  font-weight: 600; 
  font-size: 18px;
}



/* ミニゲーム */
.mimigame > div {
  margin-bottom: 80px; /* 各div間の余白 */
  padding-left: 20px;  /* 左端の余白 */
}

.mimigame h3 {
  font-size: 26px;
  margin-bottom: 20px;
}

.mimigame img {
  width: 100%;
  margin: 20px 0;
  image-rendering: pixelated;
  filter: brightness(0.9);
}




/* ミニゲームカラー */
.shateki h3 { color: #7ec282; }
.kingyo h3 { color: #64b3f4; }
.nazotoki h3 { color: #f9d14d; }
.killerchair h3 { color: #dc6b6b; }



/*  フッター */
.footer {
  text-align: center;
  font-size: 12px;
  opacity: 0.4;
  margin: 160px 0 40px;
}




/* セクション間隔  */
.section + .mimigame {
  margin-top: 100px;
}
/* ↑間隔狭すぎる*/



/* スマホレスポンシブ  */
@media screen and (max-width: 750px) {
  .header h1 {
    font-size: 50px;
    padding: 15px 30px;
  }
  .section, .mimigame {
    padding: 0 10px;
  }
  .section p, .mimigame p {
    font-size: 16px;
  }
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("loading.gif") center / cover no-repeat;
  z-index: 9999;
  animation: fadeOut 1s ease forwards;
  animation-delay: 3s;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
