/*追加アドオン*/
.new-tegomin-regular {
  font-family: "New Tegomin", serif;
  font-weight: 400;
  font-style: normal;
}



/*全体背景*/
boody{
  background-color: rgb(10,10,10,);
  color: rgb(10, 10, 10);
}

/*花火*/
.header{
  justify-content: center;
  background: url(fireworks.jpg)center/cover no-repeat;
  position: relative;
  min-height: 100dvh;
}


/*タイトル*/
.header h1{
  font-size: 1.7rem;
  font-weight: 10rem;
  background: rgba(249, 249, 249, 0.47);
  animation: Grad 1s infinite alternate;
  justify-content: center;
  width: fit-content;
  position: relative;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  text-shadow: black;
  line-height: 2;
  vertical-align: middle;
  top: 15rem;
  color: white;
  filter: blur(3px);
  border-radius: 10px;
  border-color: aliceblue;
  font-weight: 1000;
  font-family:"New Tegomin", serif
}


/*ぐわんぐわん*/
@keyframes Grad {
  0% {
    -webkit-filter: hue-rotate(360deg);
  }
  100% {
    -webkit-filter: hue-rotate(369deg);
    filter: hue-rotate(360deg);
  }
}
/*なんかできない*/



